.container {
    background-color: #273c75;
    height: 100vh;
}
.logo {
    text-align: center;
}

.jokeBox {
    padding: 1rem;
    background-color: aliceblue;
    max-width: 700px;
    height: 500px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 3px 3px 85px rgba(0,0,0,0.2);
    margin-bottom: 4rem;
    
}

.btn {
    padding: 1rem 4rem;
    font-size: 2rem;
    color: white;
    border: none;
    background-color: #fbc531 ;
    border-radius: 10px;
    box-shadow: 3px 3px 85px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.1s ease-in;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: none;
}

.btnBox {
    text-align: center;
}

/* #another {
    display: none;
} */

.text{
    text-align: left;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 30px;
    background-color: #fbc531;
    width: 70%;
    color: white;
}

#delivery {
    margin-top: 3rem;
    margin-left: auto;
    background-color: #9c88ff;

    
}

/* .toggle {
    display: none;
} */